.App {
  text-align: center;
  margin-top: 2rem;
}

button {
  background-color: white;
  border-color: black;
  font-size: larger;
  box-shadow: 2px 2px 5px black;
  margin: 25px;
}

button:hover{
  background-color: lightgrey;
  

}