.App {
  text-align: center;
  margin-top: 2rem;
}

button {
  background-color: white;
  border-color: black;
  font-size: larger;
  box-shadow: 2px 2px 5px black;
  margin: 25px;
}

button:hover{
  background-color: lightgrey;
  

}

.persons {
  margin: 10px auto;
  border: 1px solid black;
  box-shadow: 3px 3px 5px black;
  padding: 5px;
  width: 30vw;
  background-color: dodgerblue;
  color: white;
  font-weight: bold;
}